<div class="page-header">
	<h1>所有的奖券</h1>
</div>

<!-- <div class="well"> -->
	<form class="form-search well">
	  <input type="text" class="search-query">
	  <button type="submit" class="btn"><i class="icon-search"></i> 搜索</button>
	</form>
	
<!-- </div> -->

<%= render 'layouts/pager' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>消费码</th>
			<th>广告图片</th>
			<th>有效期开始日</th>
			<th>有效期截止日</th>
			<th>奖券添加日期</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<% @tickets.each do |ticket| %>
			<tr>
				<td><%= link_to ticket.id, ticket %></td>
				<td><%= ticket.token %></td>
				<td>
					<% if ticket.avatar.exists? %>
						<%= image_tag(ticket.avatar.url(:thumb)) %>
					<% end %>
				</td>
				<td><%= ticket.expire_start_at %></td>
				<td><%= ticket.expire_end_at %></td>
				<td><%= ticket.created_at %></td>
				<td>
					<%= link_to "编辑", edit_ticket_path(ticket), class:"btn btn-mini" %>
					<span class="divider-vertical"></span>
					<%= link_to "删除", ticket, class:"btn btn-mini btn-danger", 
														:method => :delete,
														:confirm => "确定要删除吗？" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'layouts/pager' %>
