<div class="row">
	<div class="span4 offset4 well">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<fieldset>
				<legend>刮刮乐后台管理系统</legend>
				<div class="control-group">
					<%= f.label :email, "邮箱", class:"control-label" %>
					<div class="controls">
						<%= f.email_field :email %>
					</div>
					
					<%= f.label :password, "密码", class:"control-label" %>
					<div class="controls">
				  	<%= f.password_field :password %>
					</div>
					<div class="controls">
						<%= f.submit "登录", class:"btn btn-danger btn-primary btn-large" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
	<!-- <div class="span3">
		<p>还没有账号？</p>
		<%= render :partial => "devise/shared/links" %>
	</div> -->
</div>


