<div class="well">
	<h2 class="page-header">验证刮刮券</h2>
	
	<%= form_for(:ticket, :url => dashboard_verify_path, :html => { :method => :put, :class => 'offset3' }) do |f| %>
		<p>
			<%= f.label :token, "输入消费码" %>
			<%= f.text_field :token,  size: 40 %>
		</p>
		
		<%= f.submit '  消费  ', class:'btn btn-success btn-large btn-primary' %>
	<% end %>
	
	<% flash.each do |key,msg| %>
		<div class="alert alert-<%= key%>">
			<a class="close" href="#" data-dismiss="alert">&times;</a><%= msg %>
		</div>
	<% end %>
	
</div>