<div class="well sidebar-nav">  
  <ul class="nav nav-list">  
    <li class="nav-header">奖券管理</li>  
    <!-- <li class="active"><a href="#">HTML 4.01</a></li>   -->
    <li><%= link_to '添加奖券', new_cpanel_ticket_path %></li>  
    <li><%= link_to '奖券列表', cpanel_tickets_path %></li>  
		<li class="nav-header">商家管理</li>  
    <li><%= link_to '添加商家', new_cpanel_customer_path %></li>  
    <li><%= link_to '商家列表', cpanel_customers_path %></li>
 		<li class="nav-header">广告管理</li>  
    <li><a href="#">添加广告</a></li>  
    <li><a href="#">广告列表</a></li>
    <li class="nav-header">用户管理</li>    
    <li><a href="#">权限设置</a></li>
 		<li><%= link_to '修改密码', edit_user_registration_path %></li>
 	</ul>  
</div><!--/.well -->