<!DOCTYPE html>
<html>
<head>
  <title>欢迎光临刮刮乐后台管理系统</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key,msg| %>
			<div class="alert alert-<%= key%>">
				<a class="close" href="#" data-dismiss="alert">&times;</a><%= msg %>
			</div>
		<% end %>
		<div class="row">
			<div class="span2">
				<%= render 'layouts/sidebar' %>
			</div>
			<div class="span10">
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</div>
	
	<%= javascript_include_tag "application" %>
	<!-- <%= render 'layouts/bootstrap_script' %> -->
	<script type="text/javascript">
		$('.datepicker').datepicker({
			format:'yyyy-mm-dd'
		})
	</script>
</body>
</html>
