<!DOCTYPE html>
<html>
<head>
  <title>刮刮乐商家后台验证系统</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	
	<%= render 'layouts/customer/background_style' %>
	
</head>
<body>
	
	<div id="header">
		<div class="container">
			<%= render 'layouts/customer/head' %>
		</div>
	</div>
		
	<div class="container">
		
		<% unless flash[:message] %>			
		<% flash.each do |key,msg| %>
				<div class="alert alert-<%= key%>">
					<a class="close" href="#" data-dismiss="alert">&times;</a><%= msg %>
				</div>
		<% end %>
		<% end %>
		
		<div class="row">
			<div class="span3">
				<%= render 'layouts/customer/sidebar' %>
			</div>
			<div class="span9">
				<%= yield %>
			</div>
		</div>
	</div>
	
	<%= render 'layouts/customer/links' %>
	
	<%= javascript_include_tag "application" %>
</body>
</html>