<!DOCTYPE html>
<html>
<head>
  <title>刮刮乐商家后台验证系统</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	
	<%= render 'layouts/customer/background_style' %>
	
</head>
<body>
		
	<div class="container">
		<%= yield %>
	</div>
	
	<%= render 'layouts/customer/links' %>
	
	<%= javascript_include_tag "application" %>
</body>
</html>