<%= f.label :name, "您的称呼", class:"control-label" %>
<div class="controls">
	<%= f.text_field :name, placeholder:"必填" %>
</div>

<%= f.label :tel, "手机", class:"control-label"%>
<div class="controls">
	<%= f.text_field :tel, placeholder:"必填" %>
</div>

<%= f.label :email, "邮箱", class:"control-label" %>
<div class="controls">
	<%= f.text_field :email, placeholder:"必填" %>
</div>

<%= f.label :address, "公司地址", class:"control-label" %>
<div class="controls">
	<%= f.text_field :address, placeholder:"必填" %>
</div>

<%= f.label :comp_name, "公司名称", class:"control-label" %>
<div class="controls">
	<%= f.text_field :comp_name, placeholder:"必填" %>
</div>

<%= f.label :info, "商家信息", class:"control-label"%>
<div class="controls">
	<%= f.text_area :info, :cols => 60, :rows => 5 %>
</div>